################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WebAppFirst/.vs
/WebAppFirst/WebAppFirst/bin/Debug/net8.0
/WebAppFirst/WebAppFirst/obj
