################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/WebAppFirst/.vs
/WebAppFirst/WebAppFirst/bin/Debug/net8.0
/WebAppFirst/WebAppFirst/obj
/.vs
/WebAppData/.vs/WebAppData
/WebAppData/WebAppData/bin/Debug/net8.0
/WebAppData/WebAppData/obj
/IdenApp/.vs/IdenApp
/IdenApp/IdenApp/bin/Debug/net8.0
/IdenApp/IdenApp/obj
/IdenApp/.vs/ProjectEvaluation
/LinqApp/.vs/LinqApp
/LinqApp/LinqApp/bin/Debug/net8.0
/LinqApp/LinqApp/obj
/LinqApp/.vs/ProjectEvaluation
/FirstApi/.vs/FirstApi
/FirstApi/FirstApi/bin/Debug/net8.0
/FirstApi/FirstApi/obj
/FirstApi/.vs/ProjectEvaluation
